{%load static%}
<link rel="stylesheet" href="{% static "css/homepage.css" %}">
<!DOCTYPE html>
<html>
  <head>
    <title>ROVT : Robot Operating Verification Tool</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
        <nav>
          <ul>
          <li><a href="#">Accueil</a></li>
            <li><a href="#">A propos de nous</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
        <h1>ROVT : Robot Operating Verification Tool</h1>
        <p>Le premier software de vérification de logiciels R.O.S.</p>
        <a href="get-started"> <h2>Commencer</h2></a>
  </body>
</html>
